# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
constants/api_keys.dart

# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
.idea/

# Logs and locks
*.log
*.lock

# Misc
.flutter-plugins
